@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
}

h2{
    font-weight: 500;
}

 button{
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.quiz_main_div{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70rem;
    height: auto;
    margin: 50px auto;
    padding: 50px;
    background-color: #A0C3D2;
}

.quiz_main_div input{
    width: 50rem;
    height: 2rem;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 2px solid white;
    background: transparent;
    font-size: 20px;
}

.quiz_main_div input:focus-visible{
    outline: none;
}

.quiz_main_div div{
    margin-bottom: 50px;
}

.success{
    background-color: #ade5af;
}

.error{
    background-color: #ffa29b;
}

.correct_ans_style{
        background: #9dd09d;
        padding: 10px 0;
        width: 50rem;
        display: none;
}